* { margin: 0; }
*, *:before, *:after { box-sizing: border-box; }
img { display: block; max-width: 100%;}

html { font-family: "Archivo Narrow", sans-serif; }

/* body { opacity: 0.2; } */

h3 {
    text-align: center;
    font-size: 40px;
}

header {
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
    text-align: center;
    padding: 154px;
    line-height: 1.3;
    padding-bottom: 182px;
    background-image: url(images/space.jpg);
    background-size: contain;
    
    white-space: nowrap;
    overflow: hidden;

    h1 { font-size: 80px; }

    h2 { font-size: 30px; }
}

#blue {
    background-color: #ff9bd0;
    color: black;

    img {
        width: 400px;
        height: 300px;
        object-fit: cover;
        float: right;
        margin-left: 42px;
        margin-bottom: 20px;
        border: 1.5px solid black;
    }

    h3 {
        padding: 42px;
        padding-bottom: 5px;
    }

    p {
        font-size: 18px;
        line-height: 1.4;
        margin-bottom: 16px;
    }

    .one {
        padding-top: 27px;
        padding-bottom: 40px;
        width: 958px;  
        margin: auto;
    }
}

#white {
    padding-top: 40px;
    padding-bottom: 65px;
    background-color: #55ff00;
    color: black;

    img {
        width: 200px;
        height: 150px;
        object-fit: cover;
    }
}

.container {
    display: grid;
    width: 958px;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    margin-top: 32px;
    row-gap: 24px;
}

.box { display: flex; }

.caption { margin-left: 12px; }

.photo-title {
    font-weight: bold;
    font-size: 20px;
    margin-top: 1px;
}

.photo-description { 
    margin-top: 8px;
    margin-right: 20px;
    font-size: 18px; 
}

#red {
    padding-top: 41px;
    padding-bottom: 99px;
    background-color: #644f2f;
    color: white;
    
    p {
        line-height: 1.4;
        margin: auto;
        padding-top: 32px;
        width: 705px;
        font-size: 26px;
        text-align: center;
    }
}

.two {
    width: 958px;
    margin: auto;
}

footer {
    font-size: 18px;
    padding-bottom: 41px;
    padding-top: 41px;
    background-color: #ffb3ec;
    color: black;
}

.three {
    width: 958px;
    margin: auto;
}