.quotes {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 0.8rem;
    margin-left: 15rem;
    margin-right: 15rem;
}

.line {
    display: contents;
}

.scene {
    font-size: 32px;
    font-family: "Story Script", system-ui;
    color: #9d1010;
    font-style: normal;
}

.name {
    font-weight: bold;
}

.direction {
    font-style: italic;
    color: #6b6b6b;
    background-color: #ffebef;
}

.pv {
    background-color:#7ddaff;
}

.db {
    background-color:#ffd890;
}

.mayor {
    background-color:#adff82;
}

.es{
    background-color:#ff8282;
}

.rs {
    background-color:#c6a7ff;
}

.wz {
    background-color:#ffa9ff;
}

html {
    font-family: Arial, Verdana, sans-serif;
    background-color: #fff9fa;
}

h1 {
    text-align: center;
    font-size: 72px;
    font-family: "Story Script", system-ui;
    font-weight: bold;
    color: #9d1010;
    font-style: normal;
}

footer {
    text-align: center;
    font-size: 10px;
}