.quotes {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 0.8rem;
    margin-left: 15rem;
    margin-right: 15rem;
}

.line {
    display: contents;
}

.scene {
    font-size: 44px;
    font-family: "Story Script", system-ui;
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
}

.name {
    font-weight: bold;
}

.direction {
    font-style: italic;
    color: #ffebef;
}

.pv {
    color:#fffbe1;
}

.db {
    color:#bdd3ff;
}

.mayor {
    color:#caffae;
}

.es{
    color:hsl(0, 100%, 80%);
}

.rs {
    color:#ba95ff;
}

.wz {
    color:#ffa6ff;
}

html {
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    background-color: #000000;
}

h1 {
    text-align: center;
    font-size: 72px;
    font-family: "Story Script", system-ui;
    font-weight: bold;
    color: #ffffff;
    font-style: normal;
}

footer {
    text-align: center;
    font-size: 10px;
    color: #ffffff;
}