header { margin-bottom: 3rem; }

p { line-height: 1.6; }

.see-all { 
    font-size: 0.8em;
    text-transform: uppercase;
}

h1 { 
    font-size: 2.5rem;
    font-weight: lighter; 
}

h2 {
    font-size: 1rem;
    text-transform: uppercase;
}

img { width: 100%; }

.cast ul li { width: 25%; }

.shows > li { border-top: 1px solid black; }

.selected > * { 
    color: black; 
    font-weight: bold;
}

a > div { font-size: 0.8rem; }

div:nth-child(2) { font-weight: bold; }

a > div:nth-child(3) { font-style: italic; }

#game-of-thrones > .seasons ul li:last-child::after { content: "*"; }

#game-of-thrones section:first-of-type::after { 
    content: "* Final Season";
    font-size: 0.7rem;
    color: #999;
}